.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input{
    font-size: 34px;
    border-radius: 20px;
    text-align: right;
}

button{
    font-size: 25px;
    background: lightgray;
    width: 118px;
    height: 59px;
    border-radius: 64px;

}

.calculator{
    display: inline-block;
    background-color: lightcoral;
    border: 2px solid black;
    padding: 25px;
    border-radius: 20px;
}